.item-lista-presentacion{

    margin-right: 2rem;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    
    .item-lista-presentacion{

        margin-right: 1.25rem;
    }
}

@media screen and (max-width: 360px) {
    
    .item-lista-presentacion{

        margin-right: 0.45rem;
    }
}