.nombre_curso-formacion_academica{

    font-size: 1.125rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    
    .nombre_curso-formacion_academica{

        font-size: 16px;
        line-height: 19px;
        margin-bottom: 0.75rem;
    }
}