.contenedor-formacion_academica{

    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    
    .contenedor-formacion_academica{

        margin: 0 auto;
        width: 85%;
    }
}

@media screen and (max-width: 360px) {
    
    .contenedor-formacion_academica{

        margin: 0 auto;
        width: 95%;
    }
}